{% extends 'base.html' %}
{% load static %}

<title>{% block title %} Inicio {% endblock title %}</title>


{% block contenido %}

<div id="carouselExampleCaptions" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" style="height: 650px;">
        <img src="static/assets/img/img_jkr.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h3 class="text-success" style="background-color: rgba(0,0,0,0.6); padding: 5px 10px; border-radius: 8px;">Guasón</h3>
            <p style="background-color: rgba(0,0,0,0.6); padding: 8px 12px; border-radius: 8px;">
  La película "Joker" (Guasón) de 2019, protagonizada por Joaquin Phoenix, ganó dos premios Oscar: Mejor Actor para Joaquin Phoenix y Mejor Banda Sonora Original para Hildur Guðnadóttir. Además, la película fue galardonada con el León de Oro en el Festival Internacional de Cine de Venecia.
            </p>
        </div>
      </div>
      <div class="carousel-item" style="height: 650px;">
        <img src="static/assets/img/img_st2.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h3 class="text-danger" style="background-color: rgba(0,0,0,0.6); padding: 5px 10px; border-radius: 8px;">Stranger Things </h3>
          <p style="background-color: rgba(0,0,0,0.6); padding: 8px 12px; border-radius: 8px;">Stranger Things es una serie sobre un pueblo de Indiana en la década de 1980 que se enfrenta a un misterio tras la desaparición de un niño, desenterrando experimentos secretos del gobierno, fuerzas sobrenaturales y una niña con poderes psíquicos.</p>
        </div>
      </div>
      <div class="carousel-item" style="height: 650px;">
        <img src="static/assets/img/img_tlous.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h3 class="text-success" style="background-color: rgba(0,0,0,0.6); padding: 5px 10px; border-radius: 8px;">The Last of Us</h3>
          <p style="background-color: rgba(0,0,0,0.6); padding: 8px 12px; border-radius: 8px;">La serie, basada en el videojuego de 2013, sigue a Joel, un contrabandista, en su misión de escoltar a Ellie a través de un Estados Unidos postapocalíptico, 20 años después del inicio de la infección. .</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  </div> 

<section class="bg-light">
    <div class="container py-5">
        <div class="row text-center py-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">PELICULAS Y SERIES DE LA SEMANA</h1>
                <p>
                    Explora nuestra selección de películas y series destacadas de la semana, cuidadosamente elegidas para ofrecerte entretenimiento de calidad. Ya sea que busques acción, drama, comedia o ciencia ficción, tenemos algo para todos los gustos. Sumérgete en historias cautivadoras y personajes inolvidables que te mantendrán pegado a la pantalla. ¡No te pierdas estas recomendaciones imperdibles!
                </p>
            </div>
        </div>

        
<div class="container position-relative" style="max-width: 1000px;">
  <!-- Contenedor scrollable -->
  <div class="d-flex overflow-auto px-2" id="cardsWrapper" style="gap:1rem; scroll-behavior:smooth;">
    
      <div class="card flex-shrink-0" style="width: 300px; min-height: 400px;">
        
          <img src="static/assets/img/Mad_Max.jpg" class="card-img-top" alt="Mad Max" style="height: 200px; object-fit: cover;">
        
        <div class="card-body d-flex flex-column justify-content-between">
          <div>
            <h5 class="card-title">Mad Max</h5>
            <p class="card-text">Mad Max: Fury Road es una película de acción y ciencia ficción de 2015 dirigida …</p>
          </div>
          <a href="/articulos/13" class="btn btn-outline-dark mt-2">Leer más</a>
        </div>
      </div>
    
      <div class="card flex-shrink-0" style="width: 300px; min-height: 400px;">
        
          <img src="static/assets/img/hombre_irra.jpg" class="card-img-top" alt="Hombre Irracional" style="height: 200px; object-fit: cover;">
        
        <div class="card-body d-flex flex-column justify-content-between">
          <div>
            <h5 class="card-title">Hombre Irracional</h5>
            <p class="card-text">Irrational Man[1]​ es una película estadounidense de drama, misterio y comedia, escrita y dirigida por …</p>
          </div>
          <a href="/articulos/14" class="btn btn-outline-dark mt-2">Leer más</a>
        </div>
      </div>
    
      <div class="card flex-shrink-0" style="width: 300px; min-height: 400px;">
        
          <img src="static/assets/img/Mortal_kombat.jpg" class="card-img-top" alt="Mortal Combat" style="height: 200px; object-fit: cover;">
        
        <div class="card-body d-flex flex-column justify-content-between">
          <div>
            <h5 class="card-title">Mortal Combat</h5>
            <p class="card-text">Mortal Kombat es una película perteneciente al género de fantasía oscura, artes marciales y gore …</p>
          </div>
          <a href="/articulos/16" class="btn btn-outline-dark mt-2">Leer más</a>
        </div>
      </div>
      <div class="card flex-shrink-0" style="width: 300px; min-height: 400px;">
        
          <img src=" {% static '/assets/img/img_pelicula.jpg' %}" class="card-img-top" alt="Mortal Combat" style="height: 200px; object-fit: cover;">
        
        <div class="card-body d-flex flex-column justify-content-between">
          <div>
            <h5 class="card-title">Star Wars</h5>
            <p class="card-text">Star Wars: El ascenso de Skywalker. La película es una entrega épica espacial y cuenta con un elenco estelar que incluye a Carrie Fisher, Mark Hamill …</p>
          </div>
          <a href="/articulos/17" class="btn btn-outline-dark mt-2">Leer más</a>
        </div>
      </div>
       <div class="card flex-shrink-0" style="width: 300px; min-height: 400px;">
        
          <img src=" {% static '/assets/img/img_pelicula2.avif' %}" class="card-img-top" alt="Mortal Combat" style="height: 200px; object-fit: cover;">
        
        <div class="card-body d-flex flex-column justify-content-between">
          <div>
            <h5 class="card-title">Batman: el caballero de la noche</h5>
            <p class="card-text">'Batman: el caballero de la noche' sigue a Batman, el teniente James Gordon y el fiscal Harvey Dent en su lucha contra el crimen en Gotham …</p>
          </div>
          <a href="/articulos/11" class="btn btn-outline-dark mt-2">Leer más</a>
        </div>
      </div>
       <div class="card flex-shrink-0" style="width: 300px; min-height: 400px;">
        
          <img src=" {% static '/assets/img/img_pelicula3.jpg' %}" class="card-img-top" alt="Mortal Combat" style="height: 200px; object-fit: cover;">
        
        <div class="card-body d-flex flex-column justify-content-between">
          <div>
            <h5 class="card-title">Volver al Futuro</h5>
            <p class="card-text"> una icónica película de ciencia ficción estadounidense dirigida por Robert Zemeckis. La trama principal gira en torno a Marty McFly, quien viaja accidentalmente al pasado en un DeLorean modificado como máquina del tiempo …</p>
          </div>
          <a href="/articulos/15" class="btn btn-outline-dark mt-2">Leer más</a>
        </div>
      </div>
    
    
  </div>

  <!-- Botones de control -->
  <button class="btn btn-outline-dark position-absolute top-50 start-0 translate-middle-y" 
          style="z-index:10;"
          onclick="document.getElementById('cardsWrapper').scrollBy({left: -320, behavior:'smooth'})">
    &#8249;
  </button>
  <button class="btn btn-outline-dark position-absolute top-50 end-0 translate-middle-y" 
          style="z-index:10;"
          onclick="document.getElementById('cardsWrapper').scrollBy({left: 320, behavior:'smooth'})">
    &#8250;
  </button>
</div>
       

{% endblock %}
    