{% extends 'base.html' %}
{% load static %}

{% block title %}Contacto{% endblock %}

{% block contenido %}
 <section class="container py-5">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <h2 class="mb-4">Acerca de Nosotros</h2>
                <p class="lead">
                    En <strong>The Algorithm Aces</strong> somos un grupo apasionado por el cine, las series. Nacimos
                    con la idea de crear una plataforma que no solo recomiende contenido, sino que lo celebre, lo
                    analice y lo comparta con una comunidad vibrante.
                </p>
                <p>
                    Creemos en el poder de las historias para conectar personas, inspirar ideas y transformar
                    perspectivas. Por eso, combinamos diseño web accesible, prototipos visuales y una experiencia de
                    usuario cuidada al detalle para que cada visita sea memorable.
                </p>
                <p class="fw-bold">
                    ¡Gracias por ser parte de esta comunidad! Seguimos creciendo, aprendiendo y creando... siempre con
                    vos.
                </p>
            </div>
        </div>
    </section>

    <footer class="bg-dark text-light pt-4 pb-3 mt-5">
        <div class="container">
            <div class="row">

  {% endblock %}